<html>

<head>
    <meta charset="UTF-8">
    <title>Siroop SearchAdmin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>

    <base href="<%= webpackConfig.metadata.baseUrl %>">
</head>

<body>
<app>
    <p class="app-wait">Ladar...</p>
</app>

<% if (webpackConfig.metadata.ENV === 'development') { %>
<!-- Webpack Dev Server reload -->
<script src="http://<%= webpackConfig.metadata.host %>:<%= webpackConfig.metadata.port %>/webpack-dev-server.js"></script>
<% } %>

</body>

</html>